
body {
    font-family: 'Shadows Into Light', cursive, white;
 }
 html {
    background: url(../images/confetti.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }
 .container > div{
    display: flex;
    /* TO MAKE ALL RESPONSIVE */
    flex: 1;
    /* TO PUT OBJS ON NEXT ROW */
    flex-wrap: wrap;
 }
 #background-container {
    background-color: rgb(1, 100, 123, .7);
    min-height: 100vh;
 }
 ::placeholder {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-weight: bold;
    font-size: 35px;
 }
 h4, h3 {
    font-family: 'Shadows Into Light', cursive;
    color: white;
 }
 p {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
 }
 #searchInput, #searchMusic {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 20px;
 }
 i.fa-headphones {
    font-size: 800%;
 }
 .modalp {
    color: black;
 }
 #page-change {
    position: fixed;
    bottom: 10px;
 }
 #landImg {
    height: 500px;
    width: 500px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 #searchImg {
    height: 100px;
    width: 100px;
    padding-top: 10px;
 }
 .ingredients-div {
    margin-top: 4.5rem;
 }
 #hide-show #back-button {
    display: inline-block;
 }
 .ingredient-thumb {
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: .5rem;
 }
 .ingredient-image {
    margin: 3px;
 }
 .mHeader {
    color:black;
 }
 
.resp-container {
    position: relative;
    overflow: hidden;
    /* padding-top: 56.25%; */
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.playlists {
    width: fit-content;
    text-align: center;
}

.playlist-div {
    display: inline-flex;
    width: 350px;
    margin-right: 50px;
    margin-top: 15px;
}

figcaption {
    color: white;
}

.playlist-links:hover {
    cursor: pointer;
}