

body {
    font-family: 'Shadows Into Light', cursive, white;
}

html {
    background: url(../images/confetti.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }



.container > div{
    display: flex;
    /* TO MAKE ALL RESPONSIVE */
    flex: 1;
    /* TO PUT OBJS ON NEXT ROW */
    flex-wrap: wrap;
}

.drink-pic {
    height: 30%;
    width: 30%;
}

.ingredients

::placeholder {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-weight: bold;
    font-size: 35px;
}

h3 {
    font-family: 'Shadows Into Light', cursive;
    color: white;
}

p {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#searchInput, #searchMusic {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 20px;
}

i.fa-headphones {
    font-size: 800%;
}

.modalp {
    color: black;
}

#page-change {
    position: fixed;
    bottom: 10px;
}

#landImg {
    height: 500px;
    width: 500px;
}
  
#searchImg {
    height: 100px;
    width: 100px;
    padding-top: 10px;
}
  
